html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

 */
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewport="0 0 32 32"><circle cx="16" cy="16" r="15" stroke="white" stroke-width="1.5" fill="none" /><line x1="16" y1="8" x2="16" y2="24" stroke="white" stroke-width="1.5"/><line x1="8" y1="16" x2="24" y2="16" stroke="white" stroke-width="1.5"/></svg>'), auto;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
