body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background: url('https://cdn.discordapp.com/attachments/1187505620153286766/1221962779255242802/1711409027205.gif') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

header {
    width: 100%;
    overflow: hidden;
    height: 256px; /* Banner height */
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    display: none; /* Hide the default header text */
}

main {
    text-align: center;
    padding: 20px 0;
}

.profile-section {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 600px;
    animation: colorChange 10s infinite;
}

.profile-img {
    width: 256px; /* Match the Discord profile picture size */
    height: 256px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
}

.profile-name,
.profile-tag,
.profile-status {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.profile-link {
    display: inline-block;
    background-color: #7289DA; /* Discord brand color */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center
