body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewport="0 0 32 32"><circle cx="16" cy="16" r="15" stroke="white" stroke-width="1.5" fill="none" /><line x1="16" y1="8" x2="16" y2="24" stroke="white" stroke-width="1.5"/><line x1="8" y1="16" x2="24" y2="16" stroke="white" stroke-width="1.5"/></svg>'), auto;
}

header {
    text-align: center;
    padding: 50px 0;
}

.profile-section {
    margin-top: 30px;
    position: relative;
}

.profile-banner, .profile-picture {
    animation: pulse 2s infinite ease-in-out;
}

.profile-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #7289DA; /* Discord theme color */
    position: absolute;
    top: 150px;
    left: calc(50% - 75px);
}

.profile-name, .profile-tag {
    font-size: 2em;
    margin-top: 10px;
}

.profile-tag {
    color: #7289DA; /* Discord theme color */
}

main {
    text-align: center;
    padding: 30px 0;
}

.about-section, .youtube-section {
    margin-bottom: 50px;
}

.about-section h2, .youtube-section h2 {
    font-size: 2em;
}

.about-section p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1.2em;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7); }
    100% { box-shadow: 0 0 0 20px rgba(255, 255, 255, 0); }
}
